<link rel='stylesheet' href='styles.css'>
<div id='searchWrapper'>
    <input id='searchCity' type='text' placeholder='City Name' onclick='this.select()' autofocus>
    <button id='search' ng-click='citySearch()'>Search</button>
</div>
<div id='forecasts'>
    <div class='forecast' ng-repeat='num in forecastNums'>
        <div id='forecastWeather'>
            <img ng-src="imgs/weather-icons/icon-{{num.code}}" alt="Forecast Icon">
        </div>
        <div id='forecastData'>
            <h1>{{num.day}}</h1>
            <h1>High: {{num.high}}˚F</h1>
            <h1>Low: {{num.low}}˚F</h1>
        </div>
    </div>
</div>
<div id='forecastOptions'>
    <div id='current'><a href='/forecastr/#/'>CURRENT CONDITIONS</a>
    </div>
    <div id='forecasted'><a href='/forecastr/#/forecast'>FORECASTS</a>
    </div>
</div>
