<link rel='stylesheet' href='styles.css'>
<div id='searchWrapper'>
    <input id='searchCity' type='text' placeholder='City Name' onclick='this.select()' autofocus>
    <button id='search' ng-click='citySearch()'>Search</button>
</div>
<div id='loading'>
    <div class='loadingCir' id='cir1'></div>
    <div class='loadingCir' id='cir2'></div>
    <div class='loadingCir' id='cir3'></div>
    <h1>Loading your data... </h1>
</div>
<div id='forecastDisplay'>
    <div id='forecasts'>
    </div>
    <div id='forecastOptions'>
        <div id='current'><a href='/#/'>CURRENT CONDITIONS</a>
        </div>
        <div id='forecasted'><a href='/#/forecast'>FORECASTS</a>
        </div>
    </div>
</div>