<!DOCTYPE html>
<html lang='en' data-ng-app='weatherApp'>

<head>
    <!--  <base href='/forecastr/'> -->
    <link rel='stylesheet' href='styles.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
    <meta charset='UTF-8'>
    <title>Forecastr</title>
</head>

<body>
    <div id='wrapper'>
        <div id='searchWrapper' ng-controller='weatherCtrl'>
            <input type='text' placeholder='City Name' ng-model='current.cityName' onclick='this.select()' autofocus>
            <button id='search' ng-click='cityWeather(current.cityName,"",type)'>Search</button>
        </div>
        <ng-view></ng-view>
        <div id='forecastOptions'>
            <div id='current'><a href='/#/forecast/'>CURRENT CONDITIONS</a>
            </div>
            <div id='forecast'>FORECASTS</div>
        </div>
        <img id='bottom-banner' src='imgs/bottom-banner.png'>
    </div>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script type='text/javascript' src='js/controller.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
</body>

</html>

<!-- Fix the routing issues tomorrow. (8/19/15). -->