@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@font-face {
    font-family: Engel;
    src: url(fonts/EngelLight_ltd.ttf);
}

@keyframes loadingFlash {
    0% {
        background-color: #dcdcdc;
    }
    20% {
        background-color: #999;
    }
    40% {
        background-color: #dcdcdc;
    }
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
}

div {
    margin: 0 auto;
}

#wrapper {
    height: 100%;
    background-color: #ecf0f1;
}

#searchWrapper {
    padding-top: 10vh;
    display: table;
    width: 100%;
}

button:focus {
    outline: none;
}

input,
#search {
    transition-duration: .3s;
    font-size: 15px;
    font-family: Source Sans Pro;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 25px;
    border: none;
    box-shadow: none;
    display: table-cell;
}

input {
    color: #bdc3c7;
    width: 200px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
}

input:focus {
    color: #2c3e50;
    outline: none;
}

#search {
    color: #ecf0f1;
    background-color: #2980b9;
    padding-right: 30px;
    font-family: Source Sans Pro;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

#search:hover {
    background-color: #5499c7;
}

#search:active {
    background-color: #2980b9;
}

#weatherDisplay {
    margin-top: 10vh;
    position: relative;
    width: 500px;
    margin-left: calc(50% - 250px);
    font-family: Source Sans Pro;
}

#loading {
    padding-top: 10vh;
}

.loadingCir {
    height: 75px;
    width: 75px;
    background-color: #dcdcdc;
    border-radius: 37.5px;
    display: inline-block;
    margin-right: 1vh;
    margin-left: 1vh;
    animation: loadingFlash 1.3s ease-in infinite forwards;
}

#cir1 {
    animation-delay: .3s;
}

#cir2 {
    animation-delay: .6s;
}

#cir3 {
    animation-delay: .9s;
}

#loading h1 {
    margin-top: 3vh;
    display: block;
    font-family: Engel;
}

#header {
    font-size: 1.5vh;
    color: #ecf0f1;
    width: 100%;
    display: table;
}

#city,
#temp {
    font-family: Engel;
    display: table-cell;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
}

#city {
    width: 65%;
    background-color: #2c3e50;
    border-top-left-radius: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    vertical-align: middle;
}

#temp {
    color: #2980b9;
    border-top-right-radius: 50px;
    background-color: white;
    vertical-align: middle;
}

#humid-wind {
    width: 40%;
    padding-top: 15px;
    position: absolute;
    float: left;
    color: #2980b9;
    font-size: 10px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    text-align: 
}

#second-row {
    height: 250px;
    background-color: white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: none;
}

#weather-text {
    margin-top: 40px;
}

.display-icon {
    max-height: 15px;
    margin-right: 10px;
}

#weather {
    box-sizing: border-box;
    height: 100%;
    box-sizing: border-box;
    padding-top: 75px;
    font-size: 80px;
    color: #ecf0f1;
    float: right;
    width: 60%;
    background-color: #2980b9;
    border-bottom-right-radius: 5vh;
}

#metric {
    margin-top: 20px;
    font-family: Source Sans Pro;
    background-color: #ecf0f1;
    box-shadow: none;
    border: none;
    font-size: 15px;
    color: #2c3e50;
    cursor: pointer;
    transition-duration: .3s;
    display: none;
}

#metric:hover {
    opacity: .7;
}

#metric:active {
    opacity: .5;
}

#forecastOptions {
    margin-top: 7vh;
    display: table;
    font-family: Source Sans Pro;
}

#forecastOptions div {
    display: table-cell;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#current {
    background-color: #2980b9;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    color: #ecf0f1;
}

#forecast {
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    background-color: white;
    color: #2c3e50;
}